graphs/appendix_graphs
graphs/chaos_90_0_trials
graphs/chaos_90_180_trials
graphs/chaos_150_0_trials
graphs/chaos_170_0_trials
graphs/Normal_modes
graphs/sim_sol
graphs/useful_graphs
graphs/*.png
graphs/*.jpg
savefiles/
Tracker_files/new_files
Tracker_files/old_files
Tracker_files/old2_files
Tracker_files/*.trk
Tracker_files/*.mp4


